﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="OpenCntDetail.aspx.cs" Inherits="KTSSolutionWeb.OpenCntDetail" %>
<%@ Register Src="~/Controls/PagingControl.ascx" TagName="paging" TagPrefix="uc" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>실적급 월별 상세조회 - 개통</title>
    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/Common") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <script type="text/javascript">

    </script>
</head>
<body>
    <form id="form1" runat="server" enctype="multipart/form-data">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>
        
		<!-- S: windowpop-wrap -->
        <div id="windowpop-wrap">    
            <!-- S:pop-user-registration -->
            <div class="windowpop pop-user-registration">        
                <!-- S:popupwrap -->
                <div class="popupwrap">
                    <div class="title"><strong>실적급 월별 상세 - 개통</strong></div>
                    <button type="button" class="btn-popclose" onclick="window.close(self)">닫기</button>
                </div>
                
                <!-- S:datalist -->
                <div class="datalist">
                    <!-- S:list-top -->
                    <div class="list-top">
                        <div class="pull-right">
                            <div class="btnset" style="margin-right:10px;">
                                <asp:Button ID="btnExcel" runat="server" OnClick="btnExcel_ServerClick" class="btn-green" Text="엑셀" /> 
                            </div>'
                        </div>
                    </div>
                    <!-- E:list-top -->
			        <!-- S:scrollbox -->
			        <div class="scrollbox" style="height:500px;overflow-y:auto;">
                        <asp:UpdatePanel ID="updPanel1" runat="server" UpdateMode="Conditional">
                            <ContentTemplate>
                                <table>
                                    <thead>
                                        <th>No.</th>
                                        <th>일자</th>
                                        <th>시설수용조직2LV코드</th>
                                        <th>시설수용조직2LV</th>
                                        <th>시설수용조직3LV코드</th>
                                        <th>시설수용조직3LV</th>
                                        <th>시설수용조직4LV코드</th>
                                        <th>시설수용조직4LV</th>
                                        <th>시설수용조직</th>
                                        <th>국사명</th>
                                        <th>가설주소시군구</th>
                                        <th>가설주소코드</th>
                                        <th>가설주소읍면동</th>
                                        <th>가설오더유형</th>
                                        <th>가설주문코드</th>
                                        <th>가설주문유형</th>
                                        <th>명령번호</th>
                                        <th>동시처리작업번호</th>
                                        <th>분석상품레벨3</th>
                                        <th>시설서비스기술방식</th>
                                        <th>변경전인터넷서비스기술방식</th>
                                        <th>인터넷서비스기술방식</th>
                                        <th>현장작업공정코드</th>
                                        <th>현장작업공정</th>
                                        <th>모건물프로모션구분</th>
                                        <th>WM업체</th>
                                        <th>kt사번</th>
                                        <th>이름</th>
                                        <th>매트릭</th>
                                        <th>가설건수</th>
                                        <th>최종포인트</th>
                                    </thead>
                                    <tbody>
                                        <asp:Repeater ID="rptResult" runat="server">
                                            <ItemTemplate>
                                                <tr>
                                                    <td><%# Eval("NUM") %></td>
                                                    <td><%# Eval("OPENDATE") %></td>
                                                    <td><%# Eval("ORGLEVEL2") %></td>
                                                    <td><%# Eval("VALUE1") %></td>
                                                    <td><%# Eval("ORGLEVEL3") %></td>
                                                    <td><%# Eval("VALUE2") %></td>
                                                    <td><%# Eval("ORGLEVEL4") %></td>
                                                    <td><%# Eval("VALUE3") %></td>
                                                    <td><%# Eval("OFFICECD") %></td>
                                                    <td><%# Eval("OFFICENM") %></td>
                                                    <td><%# Eval("ADDR1") %></td>
                                                    <td><%# Eval("ADDR2") %></td>
                                                    <td><%# Eval("VALUE4") %></td>
                                                    <td><%# Eval("WORKTYPE") %></td>
                                                    <td><%# Eval("WORKODRTYPECODE") %></td>
                                                    <td><%# Eval("VALUE5") %></td>
                                                    <td><%# Eval("WORKODRTYPENUM") %></td>
                                                    <td><%# Eval("SMTWRKNO") %></td>
                                                    <td><%# Eval("SVCLEVEL3") %></td>
                                                    <td><%# Eval("FACSVCTYPE") %></td>
                                                    <td><%# Eval("PREFACSVCTYPE") %></td>
                                                    <td><%# Eval("INTERNETSVCTYPE") %></td>
                                                    <td><%# Eval("WORKPROC") %></td>
                                                    <td><%# Eval("VALUE6") %></td>
                                                    <td><%# Eval("PROMOTIONGBN") %></td>
                                                    <td><%# Eval("WMCOMPANY") %></td>
                                                    <td><%# Eval("EMPNO") %></td>
                                                    <td><%# Eval("EMPNM") %></td>
                                                    <td><%# Eval("METRIC") %></td>
                                                    <td><%# Eval("WORKCNT") %></td>
                                                    <td><%# Eval("FINPOINT") %></td>
                                                </tr>
                                            </ItemTemplate>
                                        </asp:Repeater>
                                    </tbody>
                                </table>
                            </ContentTemplate>
                            <Triggers>
                                <asp:AsyncPostBackTrigger ControlID="paging" />
                            </Triggers>
                        </asp:UpdatePanel>
                    </div>
			        <!-- E:scrollbox -->
                    <uc:paging ID="paging" runat="server" OnPreRender="paging_PreRender" />
                </div>
                <!-- E:datalist -->
            </div>
        </div>
    </form>
</body>
</html>
