﻿<%@ Page Language="C#" MasterPageFile="~/Site.M.Master" AutoEventWireup="true" CodeBehind="MobileDefault.aspx.cs" Inherits="KTSSolutionWeb.MobileDefault" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
	<!-- S: contentsarea -->
	<div class="contentsarea">
		<div style="text-align:center;vertical-align:middle">
			<h2>사용자 정보 인증중입니다.</h2>
		</div>
	</div>
	<!--//E: contentsarea -->
</asp:Content>