﻿@charset "UTF-8";

/* Datepicker */
.ui-datepicker {display:none; width:200px; height:235px; overflow:hidden; margin:2px 0 0 0; padding:0; background:#fff; border-radius:0; box-shadow:2px 2px 4px 2px rgba(0,0,0,0.1)}
.ui-datepicker .ui-widget-header {position:relative; width:90%; margin:0 auto; padding:10px 0}
.ui-datepicker .ui-widget-header .ui-datepicker-title {text-align:center; color:#000; font-size:14px; font-weight:800}
.ui-datepicker .ui-widget-header .ui-datepicker-prev {position:absolute; top:10px; left:0; width:20px; height:20px; text-align:center}
.ui-datepicker .ui-widget-header .ui-datepicker-next {position:absolute; top:10px; right:0; width:20px; height:20px; text-align:center}
.ui-datepicker .ui-datepicker-calendar {width:95%; margin:0 auto; border-collapse:collapse}
.ui-datepicker .ui-datepicker-calendar thead th {width:14.28%; padding:4px 0; text-align:center; font-size:13px; color:#222; font-weight:400}
.ui-datepicker .ui-datepicker-calendar tbody td {width:14.28%; text-align:center; font-size:13px; font-weight:200}
.ui-datepicker .ui-datepicker-calendar tbody td a {display:block; width:100%; height:100%; padding:4px 0}
.ui-datepicker .ui-datepicker-calendar tbody td .ui-state-hover {background:#1a6b63; border-radius:50%; color:#fff}
.ui-datepicker .ui-datepicker-today {color:#ed1c24; font-weight:800}
.ui-datepicker .ui-datepicker-other-month {color:#999}
.ui-datepicker .ui-datepicker-year { width:45px; margin-right:5px; font-weight: bold;}
.ui-datepicker .ui-datepicker-month { width:40px; font-weight: bold;}

/* Monthpicker */
.ui-monthpicker {display:none; width:200px; height:40px; overflow:hidden; margin:2px 0 0 0; padding:0; background:#fff; border-radius:0; box-shadow:2px 2px 4px 2px rgba(0,0,0,0.1)}
.ui-monthpicker .ui-widget-header {position:relative; width:90%; margin:0 auto; padding:10px 0}
.ui-monthpicker .ui-widget-header .ui-monthpicker-title {text-align:center; color:#000; font-size:14px; font-weight:800}
.ui-monthpicker .ui-widget-header .ui-monthpicker-prev {position:absolute; top:10px; left:0; width:20px; height:20px; text-align:center}
.ui-monthpicker .ui-widget-header .ui-monthpicker-next {position:absolute; top:10px; right:0; width:20px; height:20px; text-align:center}
.ui-monthpicker .ui-monthpicker-calendar {display:none;}
.ui-monthpicker .ui-monthpicker-today {color:#ed1c24; font-weight:800}
.ui-monthpicker .ui-monthpicker-other-month {color:#999}
.ui-monthpicker .ui-monthpicker-year { width:45px; margin-right:5px; font-weight: bold;}
.ui-monthpicker .ui-monthpicker-month { width:40px; font-weight: bold;}

/* input */
.inpbox {display: inline-block; position: relative; vertical-align: middle; font-size: 0}
.inpbox label {display:inline-block; margin-right:8px; vertical-align:middle; color:#000; font-size:15px; font-weight:800}
.inpbox input {display:inline-block; width:150px; height:40px; padding:0 14px; border:1px solid #dfdfdf; border-radius:2px; line-height:38px; vertical-align:middle; color:#000; font-size:15px}
p.inpbox {width:100%}
p.inpbox input {width:100%}

/* file */
.filebox {float:left; margin-right:30px}
.filebox > input[type="text"] {float:left; width:250px; height:40px; padding:0 14px; border:1px solid #dfdfdf; border-radius:2px; line-height:38px; color:#000; font-size:15px}
.filebox .file {display:block; float:left; width:100px;}
.filebox .file input[type="file"] {display:block; overflow:hidden; width:0; height:0; padding:0; margin:0; border:0; clip:rect(0,0,0,0)}
.filebox .file input[type="file"] + label {display:block; width:100px; height:40px; background:#999; border-radius:2px; text-align:center; line-height:40px; color:#fff; font-size:14px; cursor:pointer}
.filebox > button {float:left; margin-left:10px}
.filebox > input {float:left; margin-left:10px}

/* select */
.optionbox {display:inline-block; position:relative; vertical-align:middle}
.optionbox label {display:inline-block; margin-right:8px; vertical-align:middle; color:#000; font-size:15px; font-weight:800}
.optionbox select {display:inline-block; width:150px; height:40px; padding:0 14px; border:1px solid #dfdfdf; border-radius:2px; background:url('/Resource/images/icon_select_arr.png') #fff no-repeat 100% 50%; line-height:38px; vertical-align:middle; color:#000; font-size:15px}
.optionbox select + button {margin-left:8px}
.optionbox input {display:inline-block; width:150px; height:40px; padding:0 14px; border:1px solid #dfdfdf; border-radius:2px; line-height:38px; vertical-align:middle; color:#000; font-size:15px}
p.optionbox {width:100%}
p.optionbox select {width:100%}
p.optionbox input {width:100%}
html>/**/body .optionbox select {padding:0 0 10px 10px\0IE8; background:none\0IE8} /* IE8 */
:root .optionbox select{padding:0 0 0 10px\9; background:none\9} /* IE9 */
_:-ms-lang(x), :root .optionbox select {padding:0 0 0 10px; background:url('/Resource/images/icon_select_arr.png') #fff no-repeat 100% 50%} /* IE10 */
_:-ms-fullscreen, :root .optionbox select {padding:0 0 0 10px; background:url('/Resource/images/icon_select_arr.png') #fff no-repeat 100% 50%} /* IE11 */

/* checkbox */
html>/**/body .ickbox input {position:absolute\0IE8; width:19px\0IE8; height:19px\0IE8; margin-top:3px\0IE8} /* IE8 */
html>/**/body .ickbox label:before {display:none\0IE8} /* IE8 */
.ickbox {display:inline-block; vertical-align:middle}
.ickbox label {display:inline-block; margin-right:8px; vertical-align:middle; color:#000; font-size:15px; font-weight:800}
/*.ickbox input {display:inline-block; width:20px; height:20px; padding:0 14px; border:1px solid #dfdfdf; border-radius:2px; line-height:38px; vertical-align:middle; color:#000; font-size:15px}*/
.ickbox input + label {display:block; position:relative; height:17px; padding-left:25px; color:#000; font-size:15px; cursor:pointer}
.ickbox input + label::before {content:''; display:block !important; position:absolute; top:0; left:0; width:17px; height:17px; border:1px solid #999; border-radius:2px; font-size:0}
.ickbox input:checked + label::before {background:url('/Resource/images/icon_check_01.png') no-repeat 50%}

/* radio */
html>/**/body .radiobox input {position:absolute\0IE8; width:15px\0IE8; height:15px\0IE8; margin-top:3px\0IE8} /* IE8 */
html>/**/body .radiobox label:before {display:none\0IE8} /* IE8 */
.radiobox {display:inline-block; vertical-align:middle}
.radiobox input {position:absolute; width:0; height:0; opacity:0}
.radiobox input + label {display:block; position:relative; height:13px; padding-left:18px; color:#000; font-size:15px; cursor:pointer}
.radiobox input + label::before {content:''; display:block !important; position:absolute; top:2.5px; left:2px; width:13px; height:13px; border:1px solid #999; border-radius:50%; font-size:0 }
.radiobox input:checked + label::before {background:url('/Resource/images/icon_radio_01.png') no-repeat 50%;}

/* btn */
.btn-green {display:inline-block; min-width:100px; height:40px; padding:0 25px; background:#1a6b63; text-align:center; line-height:40px; border-radius:2px; color:#fff; font-size:14px; font-weight:800; border-style:none;}
.btn-black {display:inline-block; min-width:100px; height:40px; padding:0 25px; background:#333; text-align:center; line-height:40px; border-radius:2px; color:#fff; font-size:14px; font-weight:800; border-style:none;}
.btn-gray {display:inline-block; min-width:100px; height:40px; padding:0 25px; background:#999; text-align:center; line-height:40px; border-radius:2px; color:#fff; font-size:14px; font-weight:800; border-style:none;}
.btn-plus {display:inline-block; width:40px; height:40px; background:url('/Resource/images/icon_plus_01.png') #e6e6e6 no-repeat 50%; font-size:0; border-style:none;}
.btn-save {display:inline-block; width:60px; height:40px; background:#fff; border:1px solid #009687; border-radius:2px; color:#009687; font-size:15px;}
.btn-del {display:inline-block; width:60px; height:40px; background:#fff; border:1px solid #ed1c24; border-radius:2px; color:#ed1c24; font-size:15px;}
.btn-replysave {display:inline-block; width:40px; height:30px; background:#fff; border:1px solid #009687; border-radius:2px; color:#009687; font-size:12px;}
.btn-replydel {display:inline-block; width:40px; height:30px; background:#fff; border:1px solid #ed1c24; border-radius:2px; color:#ed1c24; font-size:12px;}
.btn-popupgray {display:inline-block; width:60px; height:30px; background:#999; text-align:center; border-radius:2px; color:#fff; font-size:12px; font-weight:600; border-style:none;}

/* search */
/* 2020.09.14 높이값 수정 -> LINE 73 */
.searchbox {width:100%; margin-top:50px; background:#fff; font-size:0}
.searchbox fieldset {width:100%; padding:20px 45px 30px 25px}
.searchbox fieldset > * {margin:10px 0 0 20px}
.searchbox fieldset em {display:inline-block; margin:0 10px; vertical-align:middle; font-size:16px}

.searchboxPopUp {width:100%; margin-top:0px; background:#fff; font-size:0}
.searchboxPopUp fieldset {width:100%; padding:20px 45px 30px 25px}
.searchboxPopUp fieldset > * {margin:10px 0 0 20px}
.searchboxPopUp fieldset em {display:inline-block; margin:0 10px; vertical-align:middle; font-size:16px}


/* board */
.list-top {margin-bottom:19px}
.list-top:after {content:""; display:block; clear:both; overflow:hidden}
.list-top > strong {display:inline-block; margin:9px 0 5px; vertical-align:middle; color:#000; font-size:18px; font-weight:800}
.list-top > .pull-right {float:right; font-size:0}
.list-top > .pull-right fieldset {float:left; margin-top:0}
.list-top fieldset {margin:20px 20px 0 0; font-size:0}
.list-top fieldset > * {margin-left:20px}
.list-top fieldset > .first {margin-left:0}
.list-top .btnset {float:left; font-size:0}
.list-top .btnset > * {margin-left:10px}
.list-top .btnset > *:first-child {margin-left:0}

.scrollbox {overflow-x:auto; overflow-y:hidden; width:100%}

/* 2020.09.14 테이블 높이값 수정 -> LINE 95, 96*/
.datalist {margin-top:38px}
.datalist:first-child {margin-top:0}
.datalist table {min-width:100%; border-top:1px solid #000; border-bottom:1px solid #dfdfdf; white-space:nowrap;}
.datalist table thead tr > * {min-width:90px; padding:11px 20px 11px; border-bottom:1px solid #dfdfdf; text-align:center; color:#000; font-size:15px; font-weight:800}
.datalist table tbody tr > * {min-width:90px; padding:11px 20px 11px; border-top:1px solid #dfdfdf; text-align:center; color:#000; font-size:15px; font-weight:200}
.datalist table tbody tr:first-child > * {border-top:0}
.datalist table tbody tr > th {text-align:left; font-weight:800}
.datalist table tbody tr > th + td {border-left:0 !important}
.datalist table tbody td .ickbox input + label {padding-left:17px; font-size:0}
.datalist table tbody tr[onclick]:hover {background:#eee; cursor:pointer;}
.datalist table tfoot tr > * {min-width:90px; padding:13px 20px 15px; background:#d1d2d4; text-align:center; color:#000; font-size:15px; font-weight:800}
.datalist table .line-break {white-space:normal}
.datalist .none-contents {padding:50px 0; text-align:center; color:#000; font-size:16px; font-weight:400}
.datalist table tbody td .txtbox input {padding-left:5px; font-size:15px; height:40px}

.treelist {margin-top:38px}
.treelist .tree-wrapper {position:relative;}
.treelist .tree-wrapper:after {content:''; display:block; overflow:hidden; clear:both}
.treelist .tree-wrapper .list-top {display:inline-block; text-align:center;}
.treelist .tree-wrapper .list-top strong {margin-top:0; line-height:1px; color:#000; font-size:18px;}
.treelist .tree-wrapper > div {width:45.6140%;}
.treelist .tree-wrapper > .tree01 {float:left;}
.treelist .tree-wrapper > .tree02 {float:right;}
.treelist .tree-wrapper > div .organization-tree {padding-bottom:0px; border-bottom:1px solid #000}
.treelist .tree-wrapper .button-wrapper {position:absolute; top:50%; left:50%; width:40px; margin:-50px 0 0 -20px }
.treelist .tree-wrapper .button-wrapper input[type=submit] {display:block; padding:0; margin:0 auto; min-width:40px; width:40px; height:40px; background:#999 url('/Resource/images/icon_arr_right.png')no-repeat; font-size:0; text-indent: -9999px;}

.organization-tree > ul {padding-top:30px; border-top:1px solid #000}
.organization-tree ul {display:none}
.organization-tree ul.expand {display:block}
.organization-tree ul li {position:relative; padding-left:24px}
.organization-tree ul li .ickbox {margin-top:12px}
.organization-tree ul li .holder {position:absolute; top:15px; left:3px; width:13px; height:13px; border:1px solid #1a6b63; border-radius:2px; background:url('/Resource/images/icon_plus_02.png') no-repeat 50%; font-size:0}
.organization-tree ul li .holder.on {background-image:url('/Resource/images/icon_minus_01.png')}

/* 2020.09.14 테이블 높이값 수정 -> LINE 119 */
.boardlist table {width:100%; table-layout:fixed;}
.boardlist table tbody tr {background: #fff;}
.boardlist table tbody tr {border-bottom:4px solid #f9f9f9;}
.boardlist table tbody tr td {height:50px;}
.boardlist table tbody tr td.number {text-align:center; color:#888; font-size:18px; font-weight:100;}
.boardlist table tbody tr td.list-title a span {white-space:nowrap; overflow:hidden; word-break:break-all; text-overflow:ellipsis; -o-text-overflow:ellipsis; vertical-align:middle; display:inline-block; max-width:100%; color:#000; font-size:16px; font-weight:400;}
.boardlist table tbody tr td.list-title a:hover span {position: relative; color: #e12e2e; }
.boardlist table tbody tr td.list-title a:hover span:after {content:''; position:absolute; left:0; bottom:2px; width:100%; height:1px; background: #e12e2e;}
.boardlist table tbody tr td.writer {text-align:center; color:#888; font-size:15px;}
.boardlist table tbody tr td.date {text-align:center; color:#888; font-size:15px;}

/* paging */
.paging {clear:both; position:relative; margin-top:32px; text-align:center}
.paging * {vertical-align:middle;}
.paging > button {display:inline-block; width:27px; height:27px; font-size:0; text-indent:-99999rem;}
.paging > button.btn-paging-first {margin-right:20px; background:url('/Resource/images/icon_paging_first.png') no-repeat 50%}
.paging > button.btn-paging-prev {margin-right:20px; background:url('/Resource/images/icon_paging_prev.png') no-repeat 50%}
.paging > button.btn-paging-next {margin-left:20px; background:url('/Resource/images/icon_paging_next.png') no-repeat 50%}
.paging > button.btn-paging-end {margin-left:20px; background:url('/Resource/images/icon_paging_end.png') no-repeat 50%}
.paging span {display:inline-block; font-size:0}
.paging span a {display:inline-block; width:27px; height:27px; margin:0 6px; border-radius:50%; text-align:center; line-height:27px; color:#000; font-size:16px}
.paging span a.on {background:#1a6b63; color:#fff;}

/* chart */
.chartbox {clear:both; background:#fff;}

/* 2단 레이아웃 */
.multiplebox {clear:both}
.multiplebox:after {content:""; display:block; clear:both; overflow:hidden}
.multiplebox .leftbox {float:left; width:49%}
.multiplebox .rightbox {float:left; width:49%; margin-left:2%}
