﻿@charset "UTF-8";

/* 메인페이지 */
.main-banner {width:100%; height:240px; background:url('/Resource/images/img_main_banner.jpg') no-repeat 50%;}
.table-wrapper:after {content:''; display:block; overflow:hidden; clear:both;}
.table-wrapper > div {width: 48.8505%;}
.table-wrapper .table-notice {float:left;}
.table-wrapper .table-tech {float:right;}
.table-wrapper .table-notice .paging,
.table-wrapper .table-tech .paging {margin-top:28px;}
.table-wrapper > [class^='table-'] h2 {line-height: 1;}

/* 로그인 페이지 */
.page-login {position:fixed; left:0; top:0; width:100%; height:100%;}
.login-table {display:table; z-index:0; padding-left:20px; position:relative; width:100%; height:100%; background:url('/Resource/images/img_login_bg.jpg') #999 no-repeat 100% 75%; background-size:cover;}
.login-table .login-cell {display:table-cell; z-index:1; position:relative; padding:40px; max-width:360px;  vertical-align:middle; text-align:center;}
.login-table .login-cell .login-contents {display:inline-block; position:relative; padding:50px 40px 22px; max-width:360px; background: #fff;}
.login-table .login-cell .login-contents .login-logo {line-height:1;}
.login-table .login-cell .login-contents .loginbox {padding:50px 0 40px; }
.login-table .login-cell .login-contents .loginbox .inpbox {display: block; width:100%; height:54px; border:0; border-bottom:1px solid #dfdfdf; border-radius:0;}
.login-table .login-cell .login-contents .loginbox .inpbox:first-child {margin-bottom:20px;}
.login-table .login-cell .login-contents .loginbox .inpbox label {display:inline-block;  margin:0; width:55px; line-height:54px; text-align:left; font-size:15px; font-weight:800;}
.login-table .login-cell .login-contents .loginbox .inpbox input {float:right; padding: 0 0 0 10px; width: 75%; height: 54px; background: transparent; border:none; line-height: 54px;}
.login-table .login-cell .login-contents .button-wrapper button {margin-bottom:17px; width:100%; height:60px; background:#009687; color:#fff; font-size:18px; font-weight:800;}
.login-table .login-cell .login-contents .button-wrapper button.change-btn {margin-bottom:0; background:transparent; color: #000; font-size:15px; font-weight:400;}
.login-table .login-cell .login-contents .button-wrapper input {margin-bottom:17px; width:100%; height:60px; background:#009687; color:#fff; font-size:18px; font-weight:800; border-style:none;}
.login-table .login-cell .login-contents .button-wrapper input.change-btn {margin-bottom:0; background:transparent; color: #000; font-size:15px; font-weight:400; border-style:none;}
.page-login .copyright {position:absolute; left:0; right:0; bottom:20px; color:#000; text-align:center; font-size:15px; font-weight:800;}

.page-error {position:fixed; left:0; top:0; width:100%; height:100%;}
.error-table {display:table; z-index:0; padding-left:20px; position:relative; width:100%; height:100%; background:url('/Resource/images/img_login_bg.jpg') #999 no-repeat 100% 75%; background-size:cover;}
.error-table .error-cell {display:table-cell; z-index:1; position:relative; padding:40px; max-width:70%;  vertical-align:middle; text-align:center;}
.error-table .error-cell .error-contents {display:inline-block; position:relative; padding:50px 40px 22px; max-width:70%; background: #fff;}
.error-table .error-cell .error-contents .error-logo {line-height:1;}
.error-table .error-cell .error-contents .error {position:absolute; left:0; right:0; color:#000; text-align:center; font-size:20px; font-weight:800;}
.error-table .error-cell .error-contents .button-wrapper button {margin-bottom:17px; width:200px; height:60px; background:#009687; color:#fff; font-size:18px; font-weight:800;}
.error-table .error-cell .error-contents .button-wrapper button.change-btn {margin-bottom:0; background:transparent; color: #000; font-size:15px; font-weight:400;}
.error-table .error-cell .error-contents .button-wrapper input {margin-bottom:17px; width:200px; height:60px; background:#009687; color:#fff; font-size:18px; font-weight:800; border-style:none;}
.error-table .error-cell .error-contents .button-wrapper input.change-btn {margin-bottom:0; background:transparent; color: #000; font-size:15px; font-weight:400; border-style:none;}
.page-error .copyright {position:absolute; left:0; right:0; bottom:20px; color:#000; text-align:center; font-size:15px; font-weight:800;}

/* 메뉴관리 페이지 */
/* 2020.09.14 테이블 높이값 수정 -> LINE 35 */
.page-menu-management .list-top {margin-top:38px;}
.page-menu-management .list-top .btnset button {width:100px; height:40px; background: #1a6b63; border-radius:5px; color: #fff; font-size:14px; font-weight:800;}
.page-menu-management .datalist {margin-top:20px; border-top:1px solid #000;}
.page-menu-management .datalist table {width:100%; font-size:15px;}
.page-menu-management .datalist table tbody tr {border-bottom:1px solid #dfdfdf;}
.page-menu-management .datalist table tbody tr th {text-align: center; border-right:1px solid #dfdfdf; font-weight:200;}
.page-menu-management .datalist table tbody tr td {border-right:1px solid #dfdfdf;text-align:left;}
.page-menu-management .datalist table tbody tr td > table{ border:none;}
.page-menu-management .datalist table tbody tr td > table tr { border:none;}
.page-menu-management .datalist table tbody tr td > table tr td { height:24px; border:none; }


/* 실적급 업로드 페이지 */
.page-upload-management .list-top {margin-top:38px;}
.page-upload-management .upload-list ul {padding-bottom:40px; margin-top:20px; width:100%; border-top:1px solid #000;}
.page-upload-management .upload-list ul li {padding:44px 0; width: 100%; border-bottom:1px solid #dfdfdf; text-align: center;}
.page-upload-management .upload-list ul li > strong {display:inline-block; width:170px; line-height:40px; text-align: left; font-size:18px; color: #000;}
.page-upload-management .upload-list ul li > .file-field {display:inline-block; width:595px; vertical-align: middle; font-size:0;}
.page-upload-management .upload-list ul li > .file-field > strong {display:inline-block; margin:0 8px 0 0; vertical-align:middle; color:#000; font-size:15px; font-weight:800;}
.page-upload-management .upload-list ul li > .file-field .filebox {display: inline-block; float:none; margin:0; vertical-align: middle;}
.page-upload-management .upload-list ul li > .file-field .filebox input[type="text"] {width:450px;}

/* 실적급정산 월별조회 페이지 */
.page-month-search .searchbox {margin-bottom: 40px;}

/* 실적급정산 추이조회 페이지*/
/* 2020.09.14 테이블 높이값 수정 -> LINE65 */
.page-flow-search .chartbox {margin-top: 30px;}
.page-flow-search .searchbox .optionbox > em {font-weight: 300;}
.page-flow-search .datalist .scrollbox table tr.sum {background: #d1d2d4;}
.page-flow-search .datalist .scrollbox table tr th {width: 127px;}
.page-flow-search .datalist .scrollbox table tr th:first-child {width:auto;}
.page-flow-search .datalist .scrollbox table tr th.line {border-right:1px solid #dfdfdf;}
.page-flow-search .datalist .scrollbox table tbody tr th {text-align:center; font-weight:200;}
.page-flow-search .datalist .scrollbox table tbody tr th:first-child, 
.page-flow-search .datalist .scrollbox table tbody tr td:first-child{padding: 0 0 0 37px; min-width: 58px; width: 58px; text-align: left;}
.page-flow-search .datalist .scrollbox table tbody tr.sum th {padding: 11px 20px 11px; border-right: 1px solid #dfdfdf; text-align: center; color: #000; font-weight: bold;}

/* 2020.09.14 테이블 높이값 수정 */
.datalist table tbody tr > * {padding:4px 20px 4px; height:48px;}

