﻿@charset "UTF-8";

/* page-main */
.page-main ul:after {content:''; display:block; overflow:hidden; clear:both;}
.page-main ul li {float:left; margin-bottom:5.9701%; width:47.0149%; }
.page-main ul li:nth-child(odd) {margin-right:5.9701%;}
.page-main ul li:last-child {margin-bottom:0;}
.page-main ul li a {display:block; padding-top:96%; background:#fff url('/Resource/Mobile_images/icon_operation.jpg')no-repeat 50%; font-size:0; text-indent: -9999px;background-size:100%}
.page-main ul li:nth-child(2) a {background-image:url('/Resource/Mobile_images/icon_cloth.jpg');}
.page-main ul li:nth-child(3) a {background-image:url('/Resource/Mobile_images/icon_passReg.jpg')}
.page-main ul li:nth-child(4) a {background-image:url('/Resource/Mobile_images/icon_passSearch.jpg')}
.page-main ul li:nth-child(5) a {background-image:url('/Resource/Mobile_images/icon_consulting.jpg')}
.page-main ul li:nth-child(6) a {background-image:url('/Resource/Mobile_images/icon-passComp.jpg')}
.page-main > button {margin-top: 5.9701%; width:100%; height:40px; background:#393939; color:#fff;}

/*.page .pointlist {padding:20px 0; border-top:1px solid #000}*/
.page {position:relative}
.page h2 {clear:both; float:none; width:100%; padding-bottom:12px; border-bottom:1px solid #000} 
.page h2 + .btn-plus {right:auto; right:auto; left:84px; height:25px !important}
.page fieldset {margin:10px 0 10px 0;}
.page fieldset:last-child {margin-bottom:0;}
fieldset > *:nth-of-type(odd) {margin-left:0}
fieldset > *:nth-of-type(-n+2) {margin-top:0}
fieldset > * label {width:31%; margin:0 !important}
fieldset > * label + * {width:68% !important}

