﻿@charset "UTF-8";

/* layout */
/* 
    2020.09.14 헤더 높이값 변경 -> LINE 13
    2020.09.14 h1로고 포지션, 사이즈 수정 -> LINE 14
    2020.09.14 상단메뉴 우측 untilmenu 포지션 변경 -> LINE16
*/
body {overflow:auto; background:#f9f9f9}
body.fixed {overflow-y:scroll; position:fixed; width:100%; height:100%}
#wrap {min-width:1260px; margin:0 auto; opacity:0;}
#header {z-index:10; position:fixed; top:0; left:0; width:100%; min-width:1260px; background:#f9f9f9}
#header .header-inner {position:relative; height:70px}
#header h1 {position:absolute; top:19px; left:80px; width:419px; height:41px}
#header h1 a {display:block; width:100%; height:100%; background:url('/Resource/images/logo.png') no-repeat 50%; font-size:0}
#header .utilmenu {position:absolute; top:26px; right:80px}
#header .utilmenu:after {content:""; display:block; clear:both; overflow:hidden}
#header .utilmenu .profile {float:left; font-size:0}
#header .utilmenu .profile .pic {display:inline-block; width:32px; height:32px; margin:-8px 12px 0 0; vertical-align:middle}
#header .utilmenu .profile p {display:inline-block; vertical-align:middle; color:#010101; font-size:16px; font-weight:100}
#header .utilmenu .profile p strong {color:#009687; font-size:inherit}
#header .utilmenu > ul {float:left}
#header .utilmenu > ul:after {content:""; display:block; clear:both; overflow:hidden}
#header .utilmenu > ul li {float:left; margin-left:9px; padding-left:11px; background:url('/Resource/images/bg_bar_01.png') no-repeat 0 50%}
#header .utilmenu > ul li a {display:block; width:100%; height:100%; color:#000; font-size:16px; font-weight:400}
/*#header .topmenu {clear:both; z-index:10; height:60px; padding:0 80px; background:#009687}
#header .topmenu > ul:after {content:""; display:block; clear:both; overflow:hidden}
#header .topmenu > ul > li {float:left; position:relative;}
#header .topmenu > ul > li > a {display:block; height:60px; padding:0 53px; line-height:64px; color:#fff; font-size:22px; font-weight:800}
#header .topmenu > ul > li:first-child a {padding-left:47px}
#header .topmenu > ul > li:hover > ul.two-depth {display:block}
#header .topmenu ul.two-depth {display:none; position:absolute; width:100%; min-width:161px; background:#fff; border:1px solid #d5d5d5; border-top:5px solid #006b60}
#header .topmenu ul.two-depth > li {position:relative; border-top:1px solid #d5d5d5}
#header .topmenu ul.two-depth > li:first-child {border-top:0}
#header .topmenu ul.two-depth > li > a {display:block; height:44px; padding-left:20px; line-height:44px; color:#333; font-size:18px; font-weight:100}
#header .topmenu ul.two-depth > li > a.holder {background:url('/Resource/images/icon_gnb_arr_off.png') no-repeat 90% 50%}
#header .topmenu ul.two-depth > li:hover > a {color:#e12e2e}
#header .topmenu ul.two-depth > li:hover > a.holder {background-image:url('/Resource/images/icon_gnb_arr_on.png')}
#header .topmenu ul.two-depth > li:hover > ul.three-depth {display:block}
#header .topmenu ul.three-depth {display:none; position:absolute; top:-1px; left:100%; min-width:195px; background:#fff; border:1px solid #d5d5d5}
#header .topmenu ul.three-depth > li {border-top:1px solid #d5d5d5}
#header .topmenu ul.three-depth > li:first-child {border-top:0}
#header .topmenu ul.three-depth > li > a {display:block; height:44px; padding-left:20px; line-height:44px; color:#333; font-size:18px; font-weight:100}
#header .topmenu ul.three-depth > li:hover > a {color:#e12e2e}
*/
#header .topmenu {clear:both; z-index:10; height:60px; padding:0 80px; background:#009687}
#header .topmenu > ul:after {content:""; display:block; clear:both; overflow:hidden}
#header .topmenu > ul > li {float:left; position:relative;}
#header .topmenu > ul > li > a {display:block; height:60px; padding:0 80px 0 30px; text-align:center; line-height:64px; color:#fff; font-size:22px; font-weight:800}
#header .topmenu > ul > li:hover > ul.two-depth {display:block}
#header .topmenu ul.two-depth {display:none; position:absolute; width:170px; background:#fff; border:1px solid #d5d5d5; border-top:5px solid #006b60}
#header .topmenu ul.two-depth > li {position:relative; border-top:1px solid #d5d5d5}
#header .topmenu ul.two-depth > li:first-child {border-top:0}
#header .topmenu ul.two-depth > li > a {display:block; height:44px; padding-left:10px; line-height:44px; color:#333; font-size:18px; font-weight:100}
#header .topmenu ul.two-depth > li > a.holder {background:url('/Resource/images/icon_gnb_arr_off.png') no-repeat 90% 50%}
#header .topmenu ul.two-depth > li:hover > a {color:#e12e2e}
#header .topmenu ul.two-depth > li:hover > a.holder {background-image:url('/Resource/images/icon_gnb_arr_on.png')}
#header .topmenu ul.two-depth > li:hover > ul.three-depth {display:block}
#header .topmenu ul.three-depth {display:none; position:absolute; top:-1px; left:100%; width:165px; background:#fff; border:1px solid #d5d5d5}
#header .topmenu ul.three-depth > li {border-top:1px solid #d5d5d5}
#header .topmenu ul.three-depth > li:first-child {border-top:0}
#header .topmenu ul.three-depth > li > a {display:block; height:44px; padding-left:10px; line-height:44px; color:#333; font-size:18px; font-weight:100}
#header .topmenu ul.three-depth > li:hover > a {color:#e12e2e}
/* 2020.09.14 컨테이너 상단여백 수정 -> LINE47 */
#container {padding:141px 80px 30px}
#container:after {content:""; display:block; clear:both; overflow:hidden}
#container h2 {margin:0 auto; padding:10px 0 22px; color:#000; font-size:26px; font-weight:800; letter-spacing:-0.5px}
#container .pagenavi {clear:both; float:right}
#container .pagenavi ul:after {content:""; display:block; clear:both; overflow:hidden}
#container .pagenavi ul li {float:left; margin-left:8px; line-height:1}
#container .pagenavi ul li:first-child {margin-left:0; padding-left:0; background:none}
#container .pagenavi ul li a {display:block; width:100%; height:100%; color:#888; font-size:14px; font-weight:800}
#container .pagenavi ul li.last a {border-bottom:1px solid #000; color:#000}
#container .contentsarea > [class^='page-'] {clear:both; margin:0 auto}

#footer {width: 100%; height: 65px; background: #efefef; border-top:1px solid #dfdfdf; text-align:center; color:#000; font-weight: 800;}
#footer p {display:inline-block; line-height:65px; }